
:root{
    --clr:#f8b864;
    --shadow-clr:#e5e5e5;
    --bg-clr:#fff;
    --bg-secondary:#ededed;
    --bg-shape-clr:#fce9d0;
    --footer-clr:#222222;
}
body{
  background-color: var(--bg-clr);
}
 .number-box i{
  font-size: 1rem;
  padding-right: 0.5rem;
 }
 .social-icons i{
  font-size: 0.8rem;
 }
 @media (max-width:768px){
  .social-icons i{
    display: none;
  }
  .contact{
    font-size: 0.7rem!important;
  }
 }
nav{
  /* box-shadow: 0px 4px 6px var(--shadow-clr); */
  background-color: var(--bg-clr);
}
.dropdown-menu li:not(:last-child){
  border-bottom: 1px solid gainsboro;
}
.nav-link{
  transition: color 250ms ease-in-out;
}
.nav-link:hover{
  color: var(--clr)!important;
}
.navbar-toggler>.navbar-toggler-icon{
  width: 18px !important;;
  height:18px !important;
}
.btn-warning{
  background-color: var(--clr);
  transition: background-color 250ms ease-in-out;
}
.btn-warning:hover{
  background-color:rgb(215, 142, 6)!important;
}
/* fund-card */
.card .card-icon{
width:64px;
}
.fund-row{
  box-shadow: -6px 6px 12px var(--shadow-clr),6px 6px 12px var(--shadow-clr);
}
.card-link{
  color:var(--footer-clr);
  text-decoration: none;
  text-underline-offset: 0.3rem;
  transition: color 250ms ease-in-out;
}
.card-link:hover{
  color:var(--clr);
  text-decoration: underline;
}
/* causes */
.causes{
  background-color: var(--bg-secondary);
}
.cause-heading{
  padding-top: 2rem!important;
  text-decoration: underline;
  text-decoration-color: var(--clr);
  text-decoration-thickness: 5px;
  text-underline-offset: 0.6rem;
}
.card-flex .fa-chart-simple , .card-flex .fa-thumbs-up{
  color:var(--clr);
}
.btn-overlay{
  position: absolute;
  opacity: 0.85;
  top:1rem;
  right:1rem;
}

progress{
width: 100%;
height: 1.3rem;
position: absolute;
top:-0.3rem;
left:0;
accent-color: var(--clr);
}
progress.bar-progress{
  position: relative;
  top:0.5rem;
}
progress.bar-progress::before{
  content:"35";
  display: grid;
 place-items: center;
 font-size: 1.3rem;
 z-index: 10;
 position: absolute;
 top:-0.5rem;
 left:35%;
 transform: translateX(-50%);
}
progress.bar-progress::after{
  content:"";
  width:50px;
  height:50px;
  /* display: grid;
  place-items: center; */
  border: 1px solid white;
  border-radius: 50%;
  background-color: var(--clr);
 position: absolute;
 top:-1rem;
 left:35%;
 z-index:5;
 isolation: isolate;
 transform: translateX(-50%);
}
.card-content::before{
 content:"25%";
 display: grid;
 place-items: center;
 font-size: 0.8rem;
 height: 50px;
 width: 50px;
 position: absolute;
 top:-1rem;
 left:25%;
 transform: translateX(-25%);
 z-index: 100;
 /* border:1px solid rgba(215, 146, 6, 0.7); */
 border-radius: 50%;
 border-width: 20px;
 background-color: var(--clr);
 /* isolation: isolate; */
}
.card-content-2::before{
  content:"45%";
  left: 45%;
  transform: translateX(-45%);
}
.card-content-3::before{
  content: "75%";
  left:75%;
  transform:translateX(-75%);
}
.cause-img{
  transition: filter 300ms ease-in-out;
}
.cause-img:hover{
  filter:brightness(120%)
}
/* history section */
  #history-img{
  width: 150px!important;
  object-fit: cover!important;
}
#profile-border{
  border-color:rgb(209, 206, 206)!important;
  border-style: dashed;
  border-width: 2px;
  background-color: var(--bg-secondary);
}
/* projects */
.project{
    position:relative;
    isolation: isolate;
 
}
.project::before{
     content:"";
     position: absolute;
     inset: 0;
     background-image: url(./assets/home-blog-1.jpg);
     filter:brightness(45%);
     background-size: cover;
     background-position: center;
     z-index: -1;

}

/* voluntter */
.volunteer-heading::before{
    content: "";
    position: absolute;
    height: 5px;
    background-color: #f8b864;
    /* border-top: 5px solid #f8b864; */
    width: 50px;
    top:110%;
    left:50%;
    transform: translateX(-50%);   
}

.volunteer-pic img{
  max-width: 100%;
  display: block;
  max-height:250px;
}
.volunteer-pic{
  place-items: center;
}
.volunteer-list{
 list-style-position: outside;
 list-style-type:none ;
 margin-left: -1rem;
}
.volunteer-list li::marker{
  content:"\f00c";
  font-weight: 700;
  color: var(--clr);
 font-family:"font awesome 5 free"; 
}
.volunteer-list >*{
  margin-top: 1rem;
  padding-left: 0.5rem;
}
.text-col {
  display: flex;
  flex-direction: column;
}
.text-col button{
  margin-top: auto;
  width: 9rem;
  padding: 0.8rem;
  margin-bottom:2rem;
}
/* banner */
.banner{
  padding-block: 5rem!important;
  position: relative;
  isolation: isolate;
  color:var(--bg-clr);
  text-align: center;
  font-weight: 700;
}
.banner::after{
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: url(./assets/africa_top_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(45%);
  background-position: center;
}
.value-icon{
  font-size: 2rem;
}
.value-icon+span{
  font-size: 3rem;
  color:var(--clr);
}
/* events */
  .events{
   background-color: var(--bg-secondary);
}
   .event-border::before{
    content: "";
    position: absolute;
    height: 5px;
     background-color: #f8b864;
    /* border-top: 5px solid #f8b864; */
    width: 50px;
    top:130%;
    left:50%;
    z-index: 2;
    transform: translateX(-50%);}
    /* event carousel */
 .carousel-card-wrapper img{
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
 }
 .side-icon{
  display: flex;
  gap:0.7rem;
  font-size: 0.9rem;
  color: gray;
 }
 .side-icon i{
  color:var(--clr);
 }
  .events-prev-icon,.events-next-icon{
    background-color:var(--clr)!important;
    }
    /* saying sec */
    .circle-profile{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      overflow:clip;
      transition: border-radius 250ms ease-in-out;
    }
    .circle-profile>img{
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    .circle-profile:hover{
    border-radius: 0;
    }
    /* stories section */
    .stories{
      background-color: var(--bg-secondary);
    }
    .shadow-card:hover{
      box-shadow: 4px -4px 6px var(--bg-secondary) inset, -4px -6px 8px var(--bg-secondary) inset;
    }
/* footer */
footer{
  background-color:var(--footer-clr);
  background-image: url(./assets/map.png);
  background-position:right 4rem center  ;
  background-size: contain;
  background-repeat: repeat-x;
  color:#999;
  font-weight: 700;
}
.footer-link{
  list-style-type: none;
  padding-left: 0;
}
.footer-link a{
  color:inherit;
  text-decoration: none;
  transition: color 100ms ease-in;
}
.footer-link a:hover{
  text-decoration: underline;
  color:var(--clr);
}
footer i:hover{
  color:#fff;
}
.rights>div>p{
  transition: color 150ms ease-in-out;
}
.rights>div>p:hover{
  color:var(--clr);
}
@media (max-width:1000px){
  .navbar-brand img{
    width: 120px !important;
  }
  .navbar-nav .btn{
    font-size: 0.9rem;
     padding: 0,5rem;
  }
  .nav-item{
    padding-left: 0.5rem;
  }
}
@media (max-width:900px){
    iframe{
    width:300px;
    height: 220px;
  }
}

/* header ends here */
@media (min-width:1200px){
.carousel-heading{
  font-size: 4rem;
  width:70%;
  margin: 0 auto;
}
}
 @media (min-width:1100px) {
          /* stories */
  .stories .row .fs-6{
      font-size: 1.2rem !important;
    }
  }

@media (min-width:960px){
.carousel-caption{
  top:50%;
  transform: translateY(-50%);
}
.carousel-text{
  width: 60%;
  margin: 0 auto;
}
/* fund-cards */
.fund-row{
   margin-top: -80px;
}
/* cause sec */
.cause-heading+p{
  width:30%;
  margin: 0 auto;
}
.card-flex{
  display: flex;
  gap:1rem;
  flex-wrap: wrap;
}
/* banner */
.banner{
  padding-block: 8rem!important;}
  /* contact page  */
    .contact-form-sec .row{
    position: relative;
    bottom:10rem;
  }
  }


@media (min-width:768px){
  .dropdown-toggle::after {
   content: none;  }

  .dropdown-menu{
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    animation: move-up 500ms ease-in-out forwards ;
  }
  .drop-li:hover>.dropdown-menu{
    display:block;
    opacity: 1;
  }
  .nav-item{
    padding-left: 1.5rem;
  }
  @keyframes move-up {
    from{
      translate: 0px 10px;
    }
    to{
      translate:0px -5px
    }
  }
/* carousel hero */
  .carousel-caption {
    margin-top: -2rem;
  }
  .carousel-caption .p-top{
    animation:move-up 1000ms ease-in-out;
  }
  .carousel-heading span{
    opacity: 0;
  }
  @keyframes move-up{
    0%{
      opacity: 0;
      transform: translateY(20px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
   .carousel-caption .p-bottom{
     animation:move-down 1000ms ease-in-out;
   }
    @keyframes move-down{
    0%{
      opacity: 0;
      transform: translateY(-20px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
  .carousel-caption button{
      animation:move-up 1000ms ease-in-out;
  }

  .carousel-heading>span{
    animation: move 700ms ease-in-out forwards ;
    position: relative;
  }
    .carousel-heading span:nth-of-type(2){
    animation-delay: 150ms;
  }
  .carousel-heading span:nth-of-type(3){
    animation-delay: 300ms;
  }
    .carousel-heading span:nth-of-type(4){
    animation-delay: 450ms;
  }
      .carousel-heading span:nth-of-type(5){
    animation-delay: 600ms;
  }
      .carousel-heading span:nth-of-type(6){
    animation-delay: 750ms;
  }
      @keyframes move {
    0%{
      opacity: 0;
      left:15px
    
    }
    100%{
      opacity: 1;
      left:0;
    }
  }
.carousel-3rd-heading span{
  animation: drop 700ms ease-in-out forwards;
}

@keyframes drop {
  0%{
    top:-50px;
    opacity: 0;
  }
  100%{
    top:0;
    opacity: 1;
  }
}

/* volunteers */
  .volunteer-para{
    width:50%;
    margin: 0 auto;
  }
  /* events */
  .center-para{
    width:35%;
    margin-inline: auto;
  }
/* about page dicover sec */
  .dicover-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
}
@media (max-width:850px){
  .carousel-caption  h1{
    font-size: 1.7rem;
  }
  .carousel-caption .p-bottom{
    padding-top: 0rem!important;
    font-size: 0.9rem;
  }
   .carousel-caption .p-top{
      margin-bottom: 0.5rem;
   }
  .carousel-caption button{
    font-size: 0.8rem;
    margin-top: 0rem !important;
  }
}
 @media (max-width:850px){

   .carousel-caption  h1{
    font-size: 1.4rem;
  }
  .carousel-caption .p-bottom{
    font-size: 0.8rem;
  }
  .carousel-caption button{
    font-size: 0.6rem;
  }
 }
 @media (max-width:540px){
  .carousel-caption{
    top:0;
  }
   .carousel-caption .p-top{
      margin-bottom: 0.5rem;
      font-size: 0.6rem;
   }
     .carousel-caption .p-bottom{
    font-size: 0.6rem;
  }
   .carousel-caption button{
     display: none;
  }
 }
  

 /* about page */
.pages-hero{
  position: relative;
}
.pages-hero::after{
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(./abot.jpeg);
  background-position: top center;
  background-size: cover;
  filter: brightness(50%);
  z-index: -1;
}
.discover-heading{
  line-height: 1.1;
  font-weight: 700;
  font-size: clamp(1.3rem , 2vw + 1rem , 3rem);
}
/* events page */
.join-us{
  background-image:url(./assets/events-page-slide.jpg);
  background-position: center;
  background-size: cover;

}
.join-us h2{
  font-size: clamp(1.3rem, 4vw + 1rem , 3rem);
}
/* contact page */
.map img{
  width:100%;
  object-fit: cover;
  object-position: top;
  max-height: 400px;
  filter: brightness(50%);
}
